
@{
    ViewBag.Title = "ConfirmYourEmail";
}
<div class="well well-lg">
    <h2>Confirm your E-mail</h2>
    <h4>To your e-mail was send message.</h4>
    <h4>Please confirm your e-mail.</h4>
</div>
