body {

}
.row.content {
    height: 1500px;
}

.sidenav {
    background-color:#E0E0E0;
    border-color:#606060;
    height: 100%;
}

.tlo {
    background-color:#ffff55;
    border-bottom-color:#ffff55;
    height: 55px;
    color:red;
}

.categoriesButton{
    height:60px;
    width:200px;
}

.topRatedBlock{
    height:auto;
    width:200px;
    background-color:aliceblue;
}