.row.content {
    height: 1500px;
}

.sidenav {
    background-color:#E0E0E0;
    border-color:#606060;
    height: 100%;
}

.tlo {
    background-color:#ffff55;
    border-bottom-color:#ffff55;
    height: 55px;
    color:red;
}

.categoriesButton{
    height:60px;
    width:200px;
}

.topRatedBlock{
    height:auto;
    width:200px;
    background-color:aliceblue;
}

.boxPrice{
    -webkit-box-shadow: -1px -4px 48px 5px rgba(108,108,171,0.78);
-moz-box-shadow: -1px -4px 48px 5px rgba(108,108,171,0.78);
box-shadow: -1px -4px 48px 5px rgba(108,108,171,0.78);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}