@model FoodOrder.ViewModel.Cart.CartViewModel
@{
    ViewBag.Title = "ShowCart";
}

<div class="col-lg-12" style="font-size:x-large">
    <h2>Cart</h2>

    <table class="table table-condensed" id="tableBodyShowCart">
        @Html.Action("ShowCartDataTable", "Cart")
    </table>

    <div>
        <a href="@Url.Action("OrderDetails","OrderManage")">
            <input type="submit" class="btn btn-primary" value="Checkout" />
        </a>
    </div>
</div>


