@model List<FoodOrder.DAL.Category>


<div class="categoriesList">
    @foreach (var i in Model)
    {
        <div><a class="categoryBtn" style="text-decoration:none" href="@Url.Action("ProductsList","Product", new { categoryName = i.CategoryName})">
            @i.CategoryName
        </a></div>
    }
</div>

