@model List<FoodOrder.DAL.Category>


<div class="btn-group-vertical btn-block">
    @foreach (var i in Model)
    {
        <a href="@Url.Action("ProductsList","Product", new { categoryName = i.CategoryName})">
            <input type="submit" class="btn btn-default btn-block" value="@i.CategoryName" />
        </a>
    }
</div>

